h1{
    color:white;
    font-size: 6em;
    text-align: center;
    margin-top: auto;
    font-style: italic;
}
body{
    background-image:url(background.jpg);
}
.logo{
        margin-left: auto;
        margin-right: auto;
        border-radius:100%;
        width: 250px;
        height: 250px;
        font-weight: 200;
        position: absolute;
        top:0%;
}
.leftText{
    text-align:center;
    color:white;
}
.rightText{
    text-align:center;
    color:white;
}
.details{
    text-align: left;
    color:white;
}
address{
    color:white;
}
.logo2{
    width:400px;
    height:400px;
    position: absolute;
    top:90%;
    right:10%;
}
